In [2]:
import pandas as pd
pd.__version__
print(pd.__name__)

pandas

**SERIES**

In [5]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
countries
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

**DATAFRAME**

In [7]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

ЧТЕНИЕ CSV-ФАЙЛА

In [8]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

In [17]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',') #прочитать таблицу
melb_data.loc[15, 'Price'] #узнать знаение
melb_data.loc[90, 'Date'] #узнатьзначение
melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'] #разделить ячейку на ячейку
display(melb_data.tail(7)) #показатьпоследние 7 строк
melb_data.info() #детальную информацию о столбцах таблицы
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']] #выведем на экран значение статистических параметров только для столбцов Distance (расстояние от объекта недвижимости до центра Мельбурна), BuildingArea (площадь здания) и Price (цена объекта)
melb_data.describe(include=['object']) #тип данных, для которого нужно вывести описательную информацию object
melb_data['Regionname'].value_counts() #найти частоту для каждого уникального знания столбец "районов"
melb_data['Regionname'].value_counts(normalize=True) # то же значение но в виде доли
melb_data['Car'] = melb_data['Car'].astype('int64') #изменить тип данных у указанных столбцов
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

АГРЕГИРУЮЩИЕ ФУНКЦИИ MEAN MAX MIN SUM MEDIAN

In [19]:
#АГРЕГИРУЮЩИЕ МЕТОДЫ
print(melb_data['Price'].mean()) #среднюю цену на объекты недвижимости
print(melb_data['Car'].max()) #максимальное количество парковочных мест

1075684.079455081
10

In [20]:
#риэлторская ставка для всех компаний за продажу недвижимости составляет 12%
# Найдём общую прибыльность риэлторского бизнеса в Мельбурне.
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

In [21]:
#насколько медианная площадь территории отличается от её среднего значения.
# Вычислим модуль разницы между медианой и средним и разделим результат на среднее, 
# чтобы получить отклонение в долях
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)
#В результате получаем долю отклонения медианы от среднего значения. Умножив результат на 100, получим его в процентах.
# Отклонение медианы от среднего значения на 21% является довольно большим,
# и это повод задуматься над тем, чтобы исследовать признак на наличие аномалий.

0.21205713983546193

Узнать размерность таблицы

In [1]:
melb_data.shape
melb_data.shape[0]  #количество строк!

NameError: name 'melb_data' is not defined

МОДАЛЬНОЕ ЗНАЧЕНИЕ

In [24]:
# МОДАЛЬНОЕ ЗНАЧЕНИЕ
print(melb_data['Rooms'].mode())
melb_data['Regionname'].mode() #модет быть использован с object

0    3
Name: Rooms, dtype: int64

0    Southern Metropolitan
Name: Regionname, dtype: object

In [ ]:
#чтоб увидеть всестрочки таблицы
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
with pd.option_context('display.large_repr', 'info'):
    display(name_df.head())

In [32]:
#ЗАДАЧИ ФИЛЬТРАЦИИ
mask = melb_data['Price'] > 2000000
#display(mask) #создаем маску
#display(melb_data[mask].head()) #выведем первые 5 строк по маске
melb_data[melb_data['Price'] > 2000000] #не создаем маскуа сразу условие 
melb_data[melb_data['Rooms'] == 3].shape[0] #количество зданий с тремя комнатами
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0] #число трёхкомнатных домов с ценой менее 300 тысяч
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]
#дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров

#СТАТИЧЕСКИЕ МЕТОДЫ
melb_data[melb_data['Type'] == 't']['Rooms'].max() #максимальное количество комнат в таунхаусах

mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median() #медианную площадь здания у объектов, чья цена выше средней

5