CSV TXT

In [1]:
import pandas as pd

countries_data = pd.read_csv('data/countries.csv', sep=';')
# Загружаем данные из файла в переменную, создавая объект DataFrame
countries_data.to_csv('data/countries.txt', index=False, sep=' ') 
# Выгружаем данные из DataFrame в CSV-файл и сохраняем файл в папке data

In [2]:
#ИСПОЛЬЗУЕМ ФУНКЦИЮ READ_TABLE()

txt_df = pd.read_table('data/countries.txt', sep=' ', index_col=['country'])
# Загружаем данные из файла в переменную, создавая объект DataFrame
#index_col=['country']так мы избавимся от столбца с индексом и присвоим названия строкам,
# используя данные одного из столбцов
#display(txt_df) # Выводим содержимое DataFrame на экран

In [3]:
#ПРИМЕНЕНИЕ ПАРАМЕТРА HEADER

melb_data = pd.read_csv('data/melb_data_ps.csv', header=None)
#display(melb_data) # Выводим содержимое DataFrame на экран

#первая строка исходного файла не будет восприниматься как строка заголовка и будет отнесена к области данных DataFrame

РЕШАЕМ ПРОБЛЕМУ С КОДИРОВКОЙ ИСХОДНЫХ ДАННЫХ<br>

- узнаем, какая кодировка символов используется в считываемом файле (для этого обратимся к субмодулю chardet.universaldetector библиотеки Universal Encoding Detector);<br>
- при считывании файла и создании DataFrame будем использовать параметр encoding  —  указывает, какой тип кодировки символов используется в считываемом файле.

In [4]:
#ЛОКАЛИЗУЕМ ПРОБЛЕМУ

data=pd.read_csv('data/ErrorEnCoding.csv', header=None, encoding_errors='replace') # Считываем данные из файла с неизвестной кодировкой в переменную, создавая объект DataFrame
#display(data) # Выводим содержимое DataFrame на экран

#ОПРЕДЕЛЯЕМ КОДИРОВКУ ФАЙЛА

from chardet.universaldetector import UniversalDetector # Импортируем субмодуль chardet.universaldetector
detector = UniversalDetector()
with open('data/ErrorEnCoding.csv', 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
detector.close()

#with open('path/filename') as f: # Открываем файл и связываем его с объектом "f"#
    # Работа с файлом...
    # ...не забываем про отступ...
    # ...
# Нет отступа = работа с файлом закончена, файл filename закрыт

#конструкция with ... as ... гарантирует закрытие файла filename, связанного с объектом f


#СЧИТЫВАЕМ ФАЙЛ, УКАЗАВ КОДИРОВКУ

# Создаем DataFrame из файла, явно указав кодировку символов, и выводим его содержимое на экран
data=pd.read_csv('data/ErrorEnCoding.csv', encoding='koi8-r', header=None )
#display(data)

ЧТЕНИЕ ФАЙЛА ПО ССЫЛКЕ, ИСПОЛЬЗУЯ ФУНКЦИЮ READ_TABLE()

In [104]:
data = pd.read_table('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv', sep=',')
#display(data)
#функция read_table() сработала и с CSV-файлом — достаточно было указать, какой разделитель используется
#data.info()
data.shape[0]
display(len(data))

18396

ЧТЕНИЕ/ЗАПИСЬ АРХИВИРОВАННЫХ CSV-ФАЙЛОВ<br>

файл в zip-архиве должен быть один!!!

In [6]:
data = pd.read_csv('data/students_performance.zip')
#display(data)

# механизм, позволяющий проводить упаковку CSV-файлов в zip-архив

compression_opts = dict(method='zip', archive_name='out.csv')
# Определяем параметры архивирования — метод сжатия, имя файл в архиве
data.to_csv('data/out.zip', index=False, compression=compression_opts)

EXCEL

In [7]:
grades = pd.read_excel('data/grades.xlsx')
#display(grades.head())

data = pd.read_excel('https://github.com/asaydn/test/raw/master/january.xlsx')
#display(data)
#параметры:
#sheet_name —  ссылка на лист в Excel-файл
#na_values — список значений, которые будут считаться пропусками,аименно:
# ( ‘’, ‘#N/A’, ‘ N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’,
# ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’).
                                                                 
grades = pd.read_excel('data/grades.xlsx', sheet_name='Maths')
display(grades.head())


#ВЫГРУЗКА ДАННЫХ ИЗ DATAFRAME В EXCEL-ФАЙЛ

grades.to_excel('data/grades_new.xlsx') # Сохраняем данные из DataFrame grades в файл grades_new.xlsx в папке data
#сохранен лишний столбец ИНДЕКС и лист назван Sheet1

# Чтобы создать лист с определённым именем (например, Example) и не сохранять индекс
grades.to_excel('data/grades_new.xlsx', sheet_name='Example', index=False)

   Student ID Student name  Grade
0           1          Аня      8
1           2         Катя      9
2           3         Маша      7
3           4         Миша      4
4           5         Женя      8

- openpyxl — рекомендуемый пакет для чтения и записи файлов Excel 2010+ (например, xlsx);
- xlsxwriter — альтернативный пакет для записи данных, информации о форматировании и, в частности, диаграмм в формате Excel 2010+ (например, xlsx);
- pyxlsb — пакет позволяет читать файлы Excel в xlsb-формате;
- pylightxl — пакет позволяет читать xlsx- и xlsm-файлы и записывать xlsx-файлы;
- xlrd — пакет предназначен для чтения данных и информации о форматировании из старых файлов Excel (например, xls);
- xlwt — пакет предназначен для записи данных и информации о форматировании в старые файлы Excel (например, xls).

In [8]:
# 3.3
ratings = pd.read_excel('data/ratings+movies.xlsx', sheet_name='ratings')
movies = pd.read_excel('data/ratings+movies.xlsx', sheet_name='movies')

merged = ratings.merge(
    movies,
    on='movieId',
    how='left'
)
#merged.head(3)
merged.to_excel('data/merged.xlsx')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ MB

JSON

In [9]:
import json
from pprint import pprint

In [32]:
#десериализация (декодирование данных) from json in python
#сериализацией from python in json



with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f) # Загружаем содержимое открытого файла в переменную recipes
    
pprint(recipes) # Выводим на экран содержимое переменной recipes, используя функция pprint()

#детали о блюде, которое записано первым в списке блюд. Его индекс — 0, и информация о нём хранится в словаре
recipes[0]['id']

#Сколько ингредиентов входят в состав первого блюда из предлагаемого списка?
len(recipes[0]['ingredients'])

#извлечь информацию о конкретном блюде по его ID
# с помощью цикла, например for, перебрать все элементы списка, проверяя ключ 'id',
# и извлечь нужную информацию, когда мы наконец найдем нужное блюдо
 
#К какой кухне относится блюдо с id = 13121
for i in recipes:
    if i['id'] == 13121:
        print(recipe['cuisine'])
        break

#Какое количество уникальных национальных кухонь присутствуют в нашем наборе данных?
#1
cuisine_list =[]
for recipe in recipes:
    if recipe['cuisine'] not in cuisine_list:
        cuisine_list.append(recipe['cuisine'])
    else:
        pass
print(len(cuisine_list))
    
#2
cuisine_list1 = set()
for recipe in recipes:
    if recipe['cuisine'] not in cuisine_list1:
        cuisine_list1.add(recipe['cuisine'])
    else:
        pass
print(len(cuisine_list1))

#Какой из национальных кухонь принадлежит самое большое количество рецептов?
cuisine_list =[]
for recipe in recipes:
    if recipe['cuisine'] not in cuisine_list:
        cuisine_list.append(recipe['cuisine'])
    else:
        pass
    
cuisine_dict = {}
for i in cuisine_list:
    cuisine_dict[i] = 0
for recipe in recipes: # Перебираем список рецептов
    cuisine_dict[recipe['cuisine']] += 1 # Увеличиваем значение нужного ключа в словаре на 1
print(cuisine_dict)           
print(max(cuisine_dict, key=cuisine_dict.get))

british
20
20
{'greek': 15, 'southern_us': 52, 'filipino': 11, 'indian': 41, 'jamaican': 6, 'spanish': 12, 'italian': 101, 'mexican': 79, 'chinese': 39, 'british': 9, 'thai': 17, 'vietnamese': 9, 'cajun_creole': 16, 'brazilian': 3, 'french': 25, 'japanese': 24, 'irish': 9, 'korean': 21, 'moroccan': 9, 'russian': 2}
italian

In [106]:
#классный метод,выбирает максимум значения,а возвращает его ключ!!!
dict1 = {'a':3, 'b':4, 'd':1, 'c':9}
print(max(dict1, key=dict1.get))

c

In [33]:
# СОЗДАЕМ ДАТА ФРЕЙМ (сначала читаем файл, потом создаем)

import json # Импортируем модуль json
from pprint import pprint # Импортируем функцию pprint()
import pandas as pd # Импортируем модуль pandas

with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f) # Загружаем содержимое открытого файла в переменную recipes
df = pd.DataFrame(recipes) # Создаём объект DataFrame из списка recipes
display(df.head()) # Выводим на экран первые строки полученного DataFrame

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [35]:
# СРАЗУ СЧИТЫВАЕМ JSON В ДАТАФРЕЙМ

import pandas as pd # Импортируем модуль pandas
df = pd.read_json('recipes.json') # Создаём объект DataFrame, загружая содержимое файла recipes.json
display(df.head()) # Выводим на экран первые строки полученного DataFrame

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           500 non-null    int64
 1   cuisine      500 non-null    object
 2   ingredients  500 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.8+ KB

In [37]:
#Создайте реестр уникальных ингредиентов 
all_ingredients = []
for recipe in recipes:
    for ingredient in recipe['ingredients']:
        if ingredient not in all_ingredients:
            all_ingredients.append(ingredient)
        else:
            pass
print(len(all_ingredients))

1318

1
Создадим функцию для заполнения значения в каждой ячейке. Функция будет проверять наличие конкретного ингредиента в столбце ingredients для текущего блюда и возвращать 1, если ингредиент есть в рецепте, и 0, если он отсутствует.

2
Организуем цикл, в котором будем перебирать наименования всех ингредиентов DataFrame (для этого потребуется создать реестр, то есть некий список, который содержит уникальные наименования ингредиентов). Для каждого ингредиента создадим в DataFrame столбец с соответствующим названием и заполним его единицами и нулями, применив к DataFrame, а точнее к столбцу ingredients функцию, созданную нами на предыдущем этапе

In [41]:
def contains(ingredient_list): # Определяем имя функции и передаваемые аргументы
    if ingredient_name in ingredient_list: # Если ингредиент есть в текущем блюде,
        return 1 # возвращаем значение 1
    else: # Если ингредиента нет в текущем блюде,
        return 0 # возвращаем значение 0
    
for ingredient_name in all_ingredients: # Последовательно перебираем ингредиенты в реестре all_ingredients
    df[ingredient_name] = df['ingredients'].apply(contains) # В DataFrame cоздаем столбец с именем текущего
#ингредиента и заполняем его единицами и нулями, используя ранее созданную функцию contains

df['ingredients'] = df['ingredients'].apply(len) # Заменяем список ингредиентов в рецепте на их количество 
display(df) # Выводим содержимое полученного DataFrame на экран

,id,cuisine,ingredients,romaine lettuce,black olives,grape tomatoes,garlic,pepper,purple onion,seasoning,...,string beans,egg roll wraps,steamed rice,penne,Crystal Farms Butter,Crystal Farms Shredded Gouda Cheese,mint,berries,figs,sprinkles
0,10259,greek,9,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1121,chinese,9,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
496,18376,italian,8,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
497,17815,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,32878,southern_us,19,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
499,24410,british,17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1

In [42]:
#6.5
import json

with open('recipes.json') as f:
    recipes = json.load(f)

ids =[]
for recipe in recipes:
    if recipe['id'] not in ids:
        ids.append(recipe['id'])
    else:
        pass

In [43]:
#СОХРАНЯЕМ DATAFRAME В CSV-ФАЙЛЕ

df.to_csv('recipes.csv', index = False)

In [62]:
#ИЗ PANDAS В JSON

df = pd.read_csv('recipes.csv') # Создаём DataFrame, читаем данные из файла в переменную df
df.head(3)
ids = list(df['id'].unique())

ingredients = list(df.columns)
ingredients.remove('id')
ingredients.remove('cuisine')
ingredients.remove('ingredients')

#альтернативное нахождение списка
ingredients = list(df.columns)[3:] # Создаем список уникальных значений ингредиентов

In [75]:
new_recipes = [] # Создаём пустой список для хранения итоговой структуры
for current_id in ids: # Организуем цикл с параметром current_id
    cuisine = df[df['id'] == current_id]['cuisine'].iloc[0] # Получаем значение соответствующей кухни, применив фильтр по текущему значению параметра цикла к DataFrame;
    current_ingredients = make_list(df[df['id'] == current_id]) # Получаем перечень ингредиентов, входящих в состав текущего блюда
    current_recipe = {'cuisine': cuisine, 'id': int(current_id), 'ingredients': current_ingredients} # Создаём текущий словарь
    new_recipes.append(current_recipe) # Добавляем созданный словарь к списку

In [77]:
#7.3
import pandas as pd
df = pd.read_csv('recipes.csv')

def make_list(row): # Определяем имя функции и передаваемые аргументы
    ingredient_list=[] # Создаём пустой список ингредиентов текущего блюда
    for ingredient in ingredients: # Последовательно перебираем ингредиенты из реестра
        if row[ingredient].item()==1: # Если текущий ингредиент входит в состав текущего блюда
            ingredient_list.append(ingredient) # Добавляем ингредиент в список ингредиентов текущего блюда
    return ingredient_list # Возвращаем сформированный список ингредиентов

#сериализацию
import json # Импорт модуля json
new_recipes = json.dumps(new_recipes) # Функция dumps() модуля json сериализирует объект Python в строку формата JSON. 
with open("data/new_recipes.json", "w") as write_file: # Откроем файл new_recipes.json для записи
    write_file.write(new_recipes) # Записываем содержимое подготовленные данные в файл

ИЗВЛЕКАЕМ КОНТЕНТ ИЗ XML-ФАЙЛА

In [90]:
import xml.etree.ElementTree as ET # Импортируем модуль ElementTree
tree = ET.parse('menu.xml')

#КОРЕНЬ
root = tree.getroot()
display(root)
display(type(root))

#ПОТОМКИ
display(list(root))
display(list(root[1])) #узнать второй уровень потомков в dish (в диш три подуровня)

#АТРИБУТЫ И ТЕГИ
display(root[0].attrib) #{'name': 'Кура'}
display(root[0][0]) #возьмём узел price первого блюда из меню
display(root[0][0].text) #прочитаем значение этого узла с помощью text

#Все значения в XML, даже числовые, хранятся как строки, поэтому преобразовывать их к нужному типу вам нужно самим.

#прочитать наименование тега конкретного узла
display(root.tag)
display(root[0][2])

#ИСПОЛЬЗОВАНИЕ ЦИКЛОВ

for dish in root:
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()

xml.etree.ElementTree.Element

[<Element 'dish' at 0x0000014502B842C0>,
 <Element 'dish' at 0x0000014502B843B0>]

[<Element 'price' at 0x0000014502B84810>,
 <Element 'weight' at 0x0000014502B84C70>,
 <Element 'class' at 0x0000014502B85770>]

{'name': 'Кура'}

'40'

'menu'

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа

In [99]:
#ЗАГРУЖАЕМ ДАННЫЕ ИЗ XML-ФАЙЛА В DATAFRAME

import xml.etree.ElementTree as ET
tree = ET.parse('menu.xml')
root = tree.getroot()

import pandas as pd
column_names = ['name', 'price', 'weight', 'class']
df_list = []

for dish in root:
    row = [dish.attrib['name'], dish[0].text, dish[1].text, dish[2].text]
    df_list.append(row)
    df = pd.DataFrame(df_list, columns=column_names)
display(df)

#СОЗДАЁМ XML-ФАЙЛ
import xml.etree.ElementTree as ET

new_root = ET.Element('menu') #корень с помощью Element
display(new_root)

dish1 = ET.SubElement(new_root, 'dish', name='Кура') #подкаталоги спомощью SubElement
dish2 = ET.SubElement(new_root, 'dish', name='Греча')
display(list(new_root))
#Аналогичным образом можно добавлять новые узлы к любым существующим узлам, не только к корню.

price1 = ET.SubElement(dish1, "price").text = "40"
weight1 = ET.SubElement(dish1, "weight").text = "300"
class1 = ET.SubElement(dish1, "class").text = "Мясо"
display(list(dish1))

price2 = ET.SubElement(dish2, "price").text = "20"
weight2 = ET.SubElement(dish2, "weight").text = "200"
class2 = ET.SubElement(dish2, "class").text = "Крупа"
display(list(dish2))

for dish in new_root: #проверка
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()
    
#СОХРАНЕНИЕ XML-ФАЙЛА
new_root_string = ET.tostring(new_root)
with open("new_menu.xml", "wb") as f:
    f.write(new_root_string)
    
ET.ElementTree(new_root).write('new_menu_good.xml', encoding="utf-8")

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа

[<Element 'dish' at 0x0000014502B83720>,
 <Element 'dish' at 0x0000014502B815E0>]

[<Element 'price' at 0x000001450AF5AF90>,
 <Element 'weight' at 0x0000014502B819A0>,
 <Element 'class' at 0x0000014502B81D60>]

[<Element 'price' at 0x0000014502828D60>,
 <Element 'weight' at 0x000001450284F310>,
 <Element 'class' at 0x0000014502B81EF0>]

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа