In [24]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_fe.csv', sep=',')

melb_df = melb_data.copy()#создание копии

In [22]:
#AreaRatio по убыванию. При этом индексы полученной таблицы замените на новые.


melb_df.sort_values(by='AreaRatio', ascending=False, ignore_index=True).head(2)
melb_df['BuildingArea'].loc[1558]

126.0

In [29]:
#таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте
# полученную таблицу сначала по 
# возрастанию числа комнат, а затем по убыванию средней
# площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые.
mask2 = melb_df['Rooms'] > 2
mask1 = melb_df['Type'] == 'townhouse'
melb_df[mask1 & mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],     
    ascending=[True, False], 
    ignore_index=True
).loc[18, ['Price']]

Price    1300000.0
Name: 18, dtype: object

In [30]:
# 3.1 данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе.
# В качестве ответа запишите количество комнат, для которых средняя цена наибольшая
melb_df.groupby('Rooms')['Price'].mean()
melb_df.groupby('Rooms')['Price'].mean().sort_values(ascending=False)


# 3.2 Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)
melb_df.groupby('Regionname')['Lattitude'].std().sort_values()

# 3.3 риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года
#рассчитайте сумму продаж (Price) каждой компании в заданный период
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
date1 = pd.to_datetime('2017-05-01')
date2 = pd.to_datetime('2017-09-01')
mask = (date1 <= melb_df['Date']) & (melb_df['Date']<= date2)
melb_df[mask].groupby('SellerG')['Price'].sum().sort_values(ascending=True)

SellerG
LITTLE             2742000.0
Cayzer             4439000.0
Burnham            4550500.0
Moonee             7328000.0
Thomson            8332000.0
Bells              8656000.0
Alexkarbon        10985000.0
McDonald          14637500.0
Rendina           15422276.0
Nick              16890000.0
Douglas           18341000.0
Buckingham        19033000.0
C21               19515000.0
Eview             19791500.0
Collins           20217000.0
Philip            22051800.0
Chisholm          23225000.0
Williams          23297000.0
Love              23365500.0
Purplebricks      23401000.0
O'Brien           23855508.0
HAR               25568000.0
Village           26473000.0
RW                29261000.0
Raine             30687700.0
Stockdale         35409800.0
Sweeney           36882750.0
Gary              39138400.0
Hodges            43231000.0
YPA               46354350.0
Miles             47582000.0
Kay               48569500.0
RT                50498000.0
Brad              55955000.0
Jas               59281600.0
Harcourts         68720250.0
McGrath           78386500.0
Greg              85621000.0
Woodards          85977500.0
Noel              88129800.0
Fletchers        108847700.0
Biggin           110429500.0
Buxton           219104000.0
Ray              249572986.0
Marshall         253957888.0
hockingstuart    282834310.0
Barry            296723050.0
other            365038432.0
Nelson           379767500.0
Jellis           414121833.0
Name: Price, dtype: float64

In [28]:
#ависимость медианной площади (BuildingArea) здания от типа объекта
# недвижимости (Type) и количества жилых комнат в доме (Rooms).
# Для какой комбинации признаков площадь здания наибольшая?
#В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.
pivot = melb_df.pivot_table(
    values='BuildingArea',
    index='Type',
    columns='Rooms',
    aggfunc=['median'],
    fill_value=0
)
#display(pivot)

In [47]:
#зависимость медианной цены объекта недвижимости (Price)
# от риелторского агентства (SellerG) и типа здания (Type)

pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median',
)
#display(pivot)
#медианная цена для зданий типа unit максимальна
#название этого агентства

max_unit_price = pivot['unit'].max()
print(pivot[pivot['unit'] == max_unit_price].index)
print(pivot[pivot['unit'] == max_unit_price].index[0])

Index(['Nick'], dtype='object', name='SellerG')
Nick

In [18]:

list1 = ['users2.csv', 'users1.csv', 'users3.csv']
list2 = [1, 5, 4]
list1.sort()
print(list1)

['users1.csv', 'users2.csv', 'users3.csv']

In [21]:
#6.3 В папке несколько файлов,указанпуть допапки,надо в функции склеить файлы,удалитьповторения
import pandas as pd
import os
def concat_user_files(path):
    data = pd.DataFrame() #итоговый массив должен бытьдата фрейм
    file_list = os.listdir(path)
    file_list.sort()
    for file in file_list:
        file1 = pd.read_csv(path + '/' + file) 
        data = pd.concat([data, file1], axis = 0, ignore_index=True)
    data = data.drop_duplicates()
    return data

In [24]:
# 7.5 Объединить обе таблицы, умнажить товарына складе напрайс и посчитать сумму всего
import pandas as pd

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

merged = items_df.merge(
    purchase_df ,
    on='item_id',
    how='inner'   #!!!!!!в итоговой таблице все столбцы с правой и левой!!!!!
)
display(merged.head())
income = int((merged['stock_count'] * merged['price']).sum())

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890

In [134]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv', sep=',')

ratings_movies_df = ratings_movies.copy()

#выделить из признака title год выпуска фильма
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
    
# 8.1 Создайте в таблице новый признак year_release, который соответствует году выпуска фильма
ratings_movies_df['year'] = ratings_movies_df['title'].apply(get_year_release)
#ratings_movies_df.head()
#ratings_movies_df.info()
nan_year = ratings_movies_df['userId'].shape[0] - 100818
#display(nan_year)

# 8.2 Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей
mask = ratings_movies_df['year'] == 1999
ratings_movies_df[mask].groupby('title')['rating'].mean().sort_values()

#8.3 Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
mask = ratings_movies_df['year'] == 2010
ratings_movies_df[mask].groupby('genres')['rating'].mean().sort_values()

# 8.4 Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных)
# комбинаций жанров (genres) фильмов?
ratings_movies_df.groupby('userId')['genres'].nunique().sort_values(ascending=False)

# 8.5 пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая
ratings_movies_df.groupby('userId')['rating'].agg(
    ['count', 'mean']
).sort_values(
    by = ['count', 'mean'], ascending=[True, False]
    )

# 8.6 Cочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating),
# и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10
mask = ratings_movies_df['year'] == 2018
ratings_movies_df_ = ratings_movies_df[mask].groupby('genres')['rating'].agg(['mean', 'count']).sort_values(
    by = ['mean', 'count'], ascending=[False, False]
    )
# Сохраняем полученнуютаблицу и снова еесортируем по маске!
mask1 = ratings_movies_df_['count'] > 10
ratings_movies_df_[mask1].sort_values(by = 'mean', ascending=False)

# 8.7 Добавьте в таблицу новый признак year_rating — год выставления оценки.
# Создайте сводную таблицу, которая иллюстрирует зависимость среднего
# рейтинга фильма от года выставления оценки и жанра

ratings_movies_df['date'] = pd.to_datetime(ratings_movies_df['date'])
ratings_movies_df['year_rating'] = ratings_movies_df['date'].dt.year
c = ratings_movies_df.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc='mean'
)
#c.head()
#mask3 = c['mean']['genres'] == 'Action|Adventure'
#d = c[mask3]
#display(d)
#display(c.loc[2018])

In [162]:
# 8.8 
import pandas as pd
orders = pd.read_csv('data/orders.csv', sep=';')
orders_df = orders.copy()
#orders_df.head()

In [163]:
import pandas as pd
products = pd.read_csv('data/products.csv', sep=';')
products_df = products.copy()
#products_df.head()

In [177]:
orders_products = orders_df.merge(
    products_df, 
    left_on='ID товара',
    right_on='Product_ID',
    how='left')

# 8.8 идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре
orders_products.tail(1)['Order ID']
# 8.9 какой товар отменен,указать имя
orders_products[orders_products['Отменен'] == 'Да']['Name']

# 8.10 Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период
#Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену
orders_products['profit'] = orders_products['Количество'] * orders_products['Price']
orders_products[orders_products['Оплачен'] == 'Да'].groupby('ID Покупателя')['profit'].sum().sort_values(ascending=False)

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: profit, dtype: float64